<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf8">
		<title>pogz</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<style>
			body {
        		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      		}
      		td.tx_r {
      			text-align: right;
      		}
    	</style>
	</head>
	<body>
 		<%= yield %>
 		<script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
 		<script src="/js/bootstrap.min.js"></script>
 		<script src="/js/application.js"></script>
	</body>
</html>
