<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="member-box round-all">
        <a><img src="/img/member_ph.png" class="member-box-avatar" /></a><br/><br/>
        <span><a>Guest</a><br/></span>
      </div><!-- /member-box round-all -->
      <div class="sidebar-nav">
	<div class="well" style="padding: 8px 0;">
	  <ul class="nav nav-list">
	    <li class="nav-header">Main</li>
	    <% if @dashboard %>
	    <li class="active">
	      <% else %>
	      <li>
	        <% end %>
	        <a href="/"><i class="icon-home"></i> Dashboard</a></li>
	      <% if @horses %>
	      <li class="active">
	        <% else %>
		<li>
		  <% end %>
		  <a href="/horses"><i class="icon-th-list"></i> Horse</a></li>
	        <li><a href="index.html"><i class="icon-facetime-video"></i> Race</a></li>
	        <li class="nav-header">Analyze</li>
	        <li class="nav-header">Settings</li>
	        <li><a href="login.html"><i class="icon-user"></i> Profile</a></li>
	        <li><a href="login.html"><i class="icon-off"></i> Logout</a></li>
	      </ul>
	</div><!-- /.well  -->
      </div><!-- /sidebar-nav -->
    </div><!-- /span2 -->
    <div class="span10">
